<div class='main-area'>
    <div class='d-flex justify-content-between flex-column h-100'>
        <div class='upper container-fluid'>
            <div class='row title-row'>
                <div class='col-md-12'>
                    <h1 class='big-title'>Link new account</h1>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-9'>
                    <div class='form-group'>
                        <label>Account Number</label>
                        <input class='account-number form-control'>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='form-group'>
                        <label>Digit</label>
                        <input class='account-digit form-control'>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <div class='form-group'>
                        <label>Financial Institution</label>
                        <input class='bank-name form-control'>
                </div>
            </div>
            </div>
        </div>
        <div class='footer row'>
            <div class='offset-md-9 col-md-3'>
                <button class='btn btn-primary w-100'>Send</button>
            </div>
        </div>
    </div>
</div>