<div class="login d-flex justify-content-between align-items-center">
  <img class="user-big" src='/assets/imgs/icons/user.png' />
  <span class='secondary-color'>Please login to continue.</span>
  <div class="data-input form-group">
    <input placeholder='email@example.com' class="user-input form-control" />
    <input type='password' placeholder='•••••••' class="password-input form-control" />
  </div>
  <a (click)='login()' class="btn btn-secondary btn-login w-100">Login</a>
  <a class="new-account secondary-color text-decoration-none" href="/register">Register new Account</a>
</div>
