<div class='my-accounts'>
    <div class='main-area'>
        <div class='container-fluid'>
            <div class="row title-row d-flex align-items-center">
                <h1 class="big-title col-md-9">My Accounts</h1>
                <button (click)='openLinkAccount()' class='col-md-3 h-75 link-account btn btn-primary'>Link New Account </button>
            </div>
            <div class='row justify-content-end'>
                
            </div>
            <div class='row account-cards'>
                <div class='col-md-4'>
                    <div class='account-card w-100 d-flex flex-column' (click)='openAccount(1)'>
                        <span class='bank-title'>
                            Bank Title
                        </span>
                        <span class='account-number'>
                            00007318-0
                        </span>
                        <span class='account-balance'>
                            Balance: R$ 15,30
                        </span>
                        <span class='d-flex justify-content-end'>
                            <img class='img img-fluid w-75' src='https://ncdn0.infojobs.com.br/logos/2015/08/17/392018.jpg'>
                        </span>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>